<!DOCTYPE html>
<head>
  <title>Project for COMP4910 Chatbot for Health Care</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Schedlue an appointment</h3>
  <form action="/" method="post">
    <input type="text" name="userQ" placeholder="User can ask a question" required />
    <input type="submit"  />
  </form>

  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
